@inherits SortComponentBase

<button type="button" class="@GetButtonClass()" @onclick="HandleOnClick">
    @ChildContent
        @if(IsSortedAscending)
        {
            <span class="badge badge-light"><i class="fas fa-angle-up"></i></span>
        }
        else
        {
            <span class="badge badge-light"><i class="fas fa-angle-down"></i></span>
        }
</button>